@import "vars";
@import "fonts";

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'TTLakes', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  color: $text-all;
  font-weight: 500;
}

.sidebar {

  .sidebar-menu {
    width: 320px;
    background-color: $white;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;

    & li {

    }

    & a {
      border: 1px solid blue;
      text-decoration: none;
      display: block;
      padding: 16px 24px;
      color: $text-all;
    }

    &--active a {
      background: url("img/highlight-sidebar.svg") no-repeat 0 10px;
      color: $text;

    }
  }
}

.comunication{
  .item{
    fill: red;
    &:hover{
      fill: green;
    }
  }
}
