@import "vars";
@import "fonts";

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'TTLakes', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  color: $text-all;
  font-weight: 500;
}

//---------------------template----------------------------

.icon {
  display: block;
  width: 40px;
  height: 40px;
  fill: $text-hover;


  &:hover {
    fill: green;
  }
}

//---------------------sidebar----------------------------

.sidebar {
  border: 1px solid red;
  width: 320px;
  height: 100vh;
  padding: 0 24px;
  display: flex;
  flex-direction: column;

  //---------------------header----------------------------

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .burger-logo {

      display: flex;
      align-items: center;
      padding: 18px 0;


      &__item {
        margin-right: 16px;
      }

      &__logo {
        display: block;
        height: 52px;
        width: auto;
        text-decoration: none;
      }
    }
  }

  //---------------------main----------------------------

  .sidebar-nav {

    .sidebar-menu {

      background-color: $white;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 16px;

      & a {

        text-decoration: none;
        display: block;
        padding: 16px 0;
        color: $text-all;
      }

      &--active a {
        margin-left: -24px;
        background: url("img/highlight-sidebar.svg") no-repeat 0 12px;
        padding-left: 24px;
        color: $text;
      }
    }
  }

  //---------------------footer----------------------------

  .footer {

    margin-top: auto;
    margin-bottom: 30px;

    &__contact-icons {
      margin-bottom: 14px;
    }

    .contact-icons {
      padding: 0;

      &__item {
        display: inline-block;
        margin-right: 14px;
      }
    }

    &__mail {
      display: block;
      font-weight: 500;
      text-decoration: none;
      color: $text-all;

      &:hover {
        color: $text-hover;
      }
    }

    &__phone {
      display: block;
      margin: 12px 0 40px;
      font-size: 24px;
      font-weight: 700;
      text-decoration: none;
      color: $text-all;

      &:hover {
        color: $text-hover;
      }
    }

    .languages {

      &__button {
        display: inline-block;
        background: none;
        border: none;
        font-size: 1rem;
        font-weight: 500;
        color: $text-all;
        text-transform: uppercase;
        margin-right: 6px;
      }

      input {
        display: none;
      }

      input:checked ~ label {
        color: $text;
      }
    }
  }
}
