@import "fonts";
@import "vars";

//---------------------template----------------------------

.icon {
  display: block;
  width: 40px;
  height: 40px;
  fill: $white;
  stroke: #FF3E79;
  padding: 0;
  background: none;
  border: none;
  transition-property: fill, transform;
  transition-duration: 0.3s, 0.7s;

  //&:hover {
  //  stroke: $highlighter;
  //}

  &:focus {
    outline: none;
  }
}

//---------------------wrapper----------------------------

.wrapper {
  //padding: 30px;
  min-height: 100%;
  background-color: $grey;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;

  &__title {
    padding: 16px;
    background-image: linear-gradient(to right, $grey, $white);

    text-transform: uppercase;
    border-top: 1px solid $slider-devider;

    @media (min-width: 768px) {
      padding: 16px 26px;
    }
    @media (min-width: 1120px) {
      padding: 16px 32px;
    }
  }

  .image-slider {
    padding: 16px 0 70px 0;
    margin: 0 16px;
    white-space: normal;

    @media (min-width: 768px) {
      margin: 0 12px;
      padding: 24px 0 34px 0;
    }
    @media (min-width: 1120px) {
      margin: 0 14px;
    }

    &__wrapper {
      max-height: 170px;
      padding-left: 0;
      margin: 0;
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
      }
    }

    .read-more-input:checked ~ .swiper-wrapper {
      max-height: none;
    }

    &__slide{
      width: auto;
      display: inline-block;
      @media (min-width: 768px) {
        width: 30%;
        margin: 0 1.66%;
      }
      @media (min-width: 1120px) {
        width: 22%;
        margin: 0 1.5%;
      }
    }

    .swiper-pagination {
      bottom: 50px;
      @media (min-width: 768px) {
        display: none;
      }
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: $swiper;
    }

    &__image {
      text-align: center;
      width: 240px;
      height: 72px;
      border-radius: 6px;
      background-color: $white;
      margin-right: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;
      border: 1px solid $darkgrey;
      margin-bottom: 16px;

      @media (min-width: 768px) {
        width: 100%;
      }
      @media (min-width: 1120px) {
        width: 100%;
      }
      &:hover > .icon{
        stroke: $highlighter;
      }
    }
  }

  .read-more-input {
    opacity: 0;
    position: absolute;
    top: 0;
    &:focus ~ label[for="show-hide"]{
      border-radius: 3px;
      color: $button-border-hover;
    }
  }

  .read-more {
    display: inline-block;
    margin-top: 12px;
    margin-left: 1.6%;

    font-size: 1rem;
    font-weight: 500;
    color: $text-all;
    position: relative;


    @media (max-width: 768px) {
      display: none;
    }

    &:hover {
      color: $button-border-hover;
    }
  }

  .read-more-input ~ .read-more:after {
    content: 'Показать все';
    padding-left: 27px;
    background: url("img/expand.svg") no-repeat 0 -1px;
  }

  .read-more-input:checked ~ .read-more:after {
    content: 'Скрыть';
    background: url("img/expand-up.svg") no-repeat 0 0;
  }

}