$white:#FFFFFF;

$text:#7E7E82;
$text-all:#1B1C21;
$text-hover:#FF3E79;


$highlighter: #41F6D7;

$grey: #F8F8F8;
$darkgrey: #E5E5E5;

$button-border: #B8FFEC;
$button-border-hover: #FF3E79;

$indent: 15px;
$radius: 6px;
$radius_small: 1px;
$shadow: 0 0 20px rgba(124, 124, 124, 0.3);
$lightshadow: 0 0 20px rgba(169, 169, 169, 0.3);